* {
    box-sizing: border-box;
    font-size:16pt;
    font-family: 'Open Sans', sans-serif;
}

body {
    max-width: 960px;
    margin:auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Koulen', cursive;
}

h1 {
    text-align:center;
    font-size:30pt;
}

header {
    height:100px;
    background-color:aqua;
}

.logo {
    float:left;
    position:relative;
    top:10px;
    left:20px;
}

.logo > img {
    height:75px;
}

.navigation {
    padding-left:0;
    float:right;
}

.navigation > li {
    list-style-type: none;
    display:inline-block;
    padding:15px;
}

.navigation > li > a {
    text-decoration: none;

}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  /* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #dad1f7;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
  }

  /* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width:960px;
    margin:auto;
  }

footer {
    padding:10px;
    background-color: black;
    text-align:center;
}

i {
    color:white;
    margin-top:30px;
    padding:10px;
}